/*Dev Mode CSS*/
@import '../../../node_modules/material-components-web/dist/material-components-web';

/*After Development CHECK if you reduce css file by specifying only the compoenets used 
as shown below
@import '../../../node_modules/@material/card/dist/mdc.card';
@import '../../../node_modules/@material/button/dist/mdc.button';
@import '../../../node_modules/@material/drawer/dist/mdc.drawer';
@import '../../../node_modules/@material/list/dist/mdc.list';
@import '../../../node_modules/@material/toolbar/dist/mdc.toolbar';*/
