
#app-view1{
	padding: 0.01em 16px;
}

.grid {
  background-color: #DDDDDD;
  margin-bottom: 32px;
}

.cell {
  box-sizing: border-box;
  background-color: #666666;
  height: 200px;
  padding: 8px;
  color: white;
  font-size: 1.5em;
}
